*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
/* Body configuracion principal*/
body{
    font-family: 'Montserrat', sans-serif;
    width: 100%;
    background-color: #F7FBE0;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

main{
    display: flex;
    flex-direction:column;
    width: 95%;
    background-color: #93BB3E;
    margin-top: 20px;
    margin-bottom: 20px;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.5);
}
/* barra de navegacion*/
header{
    background-color: #31511F;
    height: 100vh;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

#figMain{
    margin: 0;
    height: 80%;
    width: 100%;
    object-fit: cover;
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    )
    ,url(imagenes/vegetales.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    text-align: center;
    justify-content: center;
    display: flex;
    align-items: center;
    color: white;
}


nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
    height: 20%;
}

#a-nav{
    color: white;
    text-decoration: none;
    background-color: #93BB3E;
    padding: 15px;
    border-radius: 10px;
        box-shadow: 0px 0px 10px rgba(0,0,0,0.5);
}

#a-nav:hover{
    color: black;
    background-color: #F7FBE0 ;
    transition: 0.3s;
    padding: 16px
}

#tituloSeccion{
    margin-top: 20px;
}
/* Seccion de Noticas*/
section{
    height: 80%;
    padding: 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
    background-color: #F7FBE0;
    padding: 28px;
    width: 50%;
    border-radius: 15px;
    gap: 15px;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.5);
}

form div{
    display: flex;
    flex-direction: column;
    background-color: rgb(203, 206, 206);
    padding: 20px;
    border-radius: 10px;
}

label{
    font-weight: bold;
}
#medidas{
    display: flex;
    justify-content: space-between;
}

#medidas div label{
    margin-right: 10px;
}

input,select,textarea{
    padding: 12px;
    border-radius: 10px;
    margin-top: 13px;
    margin-bottom: 13px;
    border: none;
    width: 100%;
}

#genDiv{
    display: flex;
    
}

#genDiv div{
    display: flex;
    flex-direction: row;
    align-items: center;
}

#genDiv div label{
    margin-right: 10px;
}

#objNutri{
    margin: 5px;
    display: flex;
    justify-content: space-around;
}

#agua{
    display: flex;
    flex-direction: row;
    gap: 10px;
}

#contEnviar{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F7FBE0;
}

#enviar{
    width: 25%;
    padding: 10px;
    border-radius: 10px;
    border: none;
    background-color: rgb(168, 16, 16);
    color: white;
    font-weight: bold;
}

#enviar:hover{
    cursor: pointer;
    background-color:#31511F;
    transition: 0.3;
}



/*Pie de Pagina*/

footer{
    background-color: #31511F;
    height: 10%;
    display: flex;
    padding: 20px;
    justify-content: space-between;
    height: 30vh;
    color: white;
}

#Preguntas, #privacidad{
    display: flex;
    flex-direction: column;
    text-align: justify;
}

#Preguntas p, #privacidad p{
    margin-top: 10px;
    color: blueviolet;
}

#Preguntas p:hover, #privacidad p:hover{
    cursor: pointer;
    color: white;
    transition: 0.3s;
}